<section class="container-fluid  mt-sm-3 mt-md-0 mt-lg-0 ">
  <div class="row mt-lg-0 mt-sm-2 mt-2 ">
    <section id="" class="col-sm-12 col-md-12 col-lg-6 p-lg-5 p-md-0 p-sm-0">
      <form class="bg-light p-lg-5 rounded shadow p-3 mb-5 rounded">
        <!--name-->
        <div class="form-group">
          <label for="nameInput" class="">Name</label>
          <input type="text" class="form-control" id="nameInput">
        </div>
        <!--name end-->

        <!--email-->
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <!--email end-->

        <!--password-->
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <!--password end-->

        <button type="submit" class="btn btn-primary bg-yellow">Submit</button>
      </form>
    </section>
    <section class="col-sm-12 col-md-12 col-lg-6 p-lg-5 p-md-0 p-sm-0" id="right">

    </section>

  </div>


</section>
