#right{
  background-image: url('~src/assets/images/teacher-reg.jpg')!important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#left{
  background-color: #4D51FC;
}
